.header{
    display: flex;
    padding: 20px 0 20px 20px;
    gap: 20px;
    z-index: 999;
    width: 100%;
    background-color: #4a69bd;
}
.header :global(a.active){
    text-decoration: underline;
    color: whitesmoke;
}
.navLink {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.navLink:hover{
    transform: scale(1.07);
}
