.historyItem{
    background-color: lightblue;
    border-radius: 10px;
    max-width: 900px;
    position: relative;
    /* width: 250px; */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.historyItem p{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
}
.historyItem div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:20px;
}
.historyItem div:first-child{
    margin-left:1rem ;
}
.historyItem span{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
@media(max-width: 400px){
    .historyItem div:first-child{
        margin-left:none ;
        text-align: center;
    }
    .historyItem p{
        position: relative;
        top: -10px;
    }
}